Repository wp-cli/import-command, pull requests merged in 2019-04, with the labels that each got.

#46 Move PHP 5.4 tests from `WP_VERSION` `latest` to `5.1`
  .travis.yml
Labels: scope:distribution

#47 Prefix variables in global namespace
  import-command.php
Labels: command:import

#48 Use snake case for variable names
  src/Import_Command.php
Labels: command:import

#49 Rename global variable with unconventional prefix
  src/Import_Command.php
Labels: command:import

#52 Enhancement: Add PHP 7.3 to Travis CI build matrix
  .travis.yml
Labels: scope:testing

#50 Implement CS checking based on the `WP_CLI_CS` ruleset
  .distignore
  .gitignore
  composer.json
  phpcs.xml.dist
Labels: scope:testing
